<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preload" as="image" href="https://via.placeholder.com/1800x1040.webp?text=test1-1800x1040+webp" media="(min-width: 1800px)" />
    <link rel="preload" as="image" href="https://via.placeholder.com/1500x844.webp?text=test1-1400x844+webp " media="(min-width: 1499px) and (max-width: 1799px)" />
    <link rel="preload" as="image" href=" https://via.placeholder.com/1170x658.webp?text=test1-1170x658+webp" media="(min-width: 1169px) and (max-width: 1498px" />
    <link rel="preload" as="image" href=" https://via.placeholder.com/970x545.webp?text=test1-970x545+webp" media="(min-width: 969px) and (max-width: 1168px" />
    <link rel="preload" as="image" href=" https://via.placeholder.com/750x562.webp?text=test1-750x562+webp" media="(min-width: 749px) and (max-width: 968px" />
    <link rel="preload" as="image" href=" https://via.placeholder.com/500x360.webp?text=test1-500x360+webp" media="(min-width: 499px) and (max-width: 748px" />
    <link rel="preload" as="image" href=" https://via.placeholder.com/450x338.webp?text=test1-450x338+webp" media="(min-width: 400px) and (max-width: 498px" />
    <link rel="preload" as="image" href=" https://via.placeholder.com/320x240.webp?text=test1-320x240+webp" media="(max-width: 399px)" />

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
